<h1 class=header1>My Restaurants</h1>
<% @restaurants.each do |restaurant| %>

  <div class=restaurantdiv>

  <h3 class=header3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  <%= link_to "Delete", restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } %>

</div>
<% end %>

<p><%= link_to "Add restaurant", new_restaurant_path %></p>
